.hasan{
    height:300px; width:300px; background-color: aqua; padding: 100px 150px 100px 130px; margin: 0px 0px 0px 450px

}

.hasanhossain{
    padding: 10px 200px 10px 5px;
    
    
}

.name{
    display:block; margin: 10px 0px
}
.hossain{
    display:block; margin:10px 0px;
}
.email{
    display:block; margin:10px 0px;
}
 